{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Početna</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="logout-button-container">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn">Odjava</button>
            </form>
        </div>
        <div class="welcome-message">
            <h1>Dobrodošao, {{ first_name }} {{ last_name }}!</h1>
            <p>Ovo je početna stranica tvoje aplikacije. Odaberi jednu od opcija ispod za daljnje radnje.</p>
        </div>

        <div class="button-container">
            <a href="{% url 'zahtjevi' %}">
                <button class="btn">ZAHTJEVI</button>
            </a>
        </div>

        <div class="button-container">
            <a href="{% url 'kontrola_ulaz' %}">
                <button class="btn">KONTROLA ULAZ</button>
            </a>
        </div>

        <div class="button-container">
            <a href="{% url 'putni_nalog' %}">
                <button class="btn">PUTNI NALOG</button>
            </a>
        </div>

        {% if user.is_staff or user.is_superuser or user|has_group:"DOMAR" %}
            <div class="button-container">
                <a href="{% url 'obrada_zahtjevi' %}">
                    <button class="btn">ZAHTJEVI ZA OBRADU</button>
                </a>
            </div>
        {% endif %}

        {% if user.is_staff or user.is_superuser or user|has_group:"RACUNOVODSTVO" %}
            <div class="button-container">
                <a href="{% url 'sve_putne_naknade' %}">
                    <button class="btn">PUTNE NAKNADE</button>
                </a>
            </div>
        {% endif %}

        <div class="additional-buttons">
        </div>

    </div>

    <footer class="footer">
        <p>&copy; 2025 Moja Aplikacija. Sva prava pridržana.</p>
    </footer>

</body>
</html>
