{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Linkanje CSS-a -->
</head>
<body>
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <h2>Registracija</h2>
            {{ form.as_p }}
            <button type="submit">Registriraj se</button>
            
            <p>Već imate račun? <a href="{% url 'login' %}">Prijavite se</a></p>
            
            {% if messages %}
                <div class="error-message">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
    </div>
</body>
</html>
